# Tabel Tembak Dataset

In [1]:
import pandas as pd

In [39]:
data = pd.read_csv(r"C:\Users\LENOVO\jupyter-workspace\28 September 2022\Tabel Tembak Dataset\Tabel Tembak.csv")

In [40]:
data

,Isian,Jarak_m,Sudut Elevasi_der,Sudut Elevasi_rad,Waktu Lintas_det,Tipe
0,0,100,83° 35',1486,13.5,IPP
1,0,150,80° 53',1426,13.4,IPP
2,0,200,76° 47',1365,13.2,IPP
3,0,250,73° 07',1300,13.0,IPP
4,0,300,69° 04',1228,12.7,IPP
...,...,...,...,...,...,...
170,8,6100,55° 07',980,47.4,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 4 IPT ..."
171,8,6200,53° 43',955,46.6,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 4 IPT ..."
172,8,6300,52° 09',927,45.7,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 4 IPT ..."
173,8,6400,50° 00',889,44.5,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 4 IPT ..."
174,8,6500,45° 00',800,41.1,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 4 IPT ..."

In [41]:
data.dtypes

Isian                  int64
Jarak_m                int64
Sudut Elevasi_der     object
Sudut Elevasi_rad      int64
Waktu Lintas_det     float64
Tipe                  object
dtype: object

In [42]:
data.isnull().sum()

Isian                0
Jarak_m              0
Sudut Elevasi_der    0
Sudut Elevasi_rad    0
Waktu Lintas_det     0
Tipe                 0
dtype: int64

In [43]:
data[data['Jarak_m'] == 400]

,Isian,Jarak_m,Sudut Elevasi_der,Sudut Elevasi_rad,Waktu Lintas_det,Tipe
6,0,400,58° 37',1042,11.6,IPP
12,1,400,74° 59',1333,17.7,1 IPT COKLAT
23,2,400,81° 20',1446,23.5,"1 IPT COKLAT, 1 IPT MERAH"

In [46]:
data[(data['Jarak_m'] == 400) | (data['Jarak_m'] == 2600)]

,Isian,Jarak_m,Sudut Elevasi_der,Sudut Elevasi_rad,Waktu Lintas_det,Tipe
6,0,400,58° 37',1042,11.6,IPP
12,1,400,74° 59',1333,17.7,1 IPT COKLAT
23,2,400,81° 20',1446,23.5,"1 IPT COKLAT, 1 IPT MERAH"
63,3,2600,46° 07',820,24.5,"1 IPT COKLAT, 1 IPT MERAH, 1 IPT PUTIH"
71,4,2600,67° 40',1203,38.4,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH"
85,5,2600,72° 47',1294,44.3,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 1 IPT ..."

In [48]:
data[data['Tipe'].str.contains('IPP')]

   Isian  Jarak_m Sudut Elevasi_der  Sudut Elevasi_rad  Waktu Lintas_det Tipe
0      0      100           83° 35'               1486              13.5  IPP
1      0      150           80° 53'               1426              13.4  IPP
2      0      200           76° 47'               1365              13.2  IPP
3      0      250           73° 07'               1300              13.0  IPP
4      0      300           69° 04'               1228              12.7  IPP
5      0      350           64° 28'               1146              12.2  IPP
6      0      400           58° 37'               1042              11.6  IPP
7      0      450           45° 00'                800               9.6  IPP

In [53]:
data.Isian.unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

In [77]:
data[data['Sudut Elevasi_der'] == "83° 35'"]

   Isian  Jarak_m Sudut Elevasi_der  Sudut Elevasi_rad  Waktu Lintas_det Tipe
0      0      100           83° 35'               1486              13.5  IPP

In [84]:
data[data['Sudut Elevasi_der'] <= "56"]

,Isian,Jarak_m,Sudut Elevasi_der,Sudut Elevasi_rad,Waktu Lintas_det,Tipe
7,0,450,45° 00',800,9.6,IPP
19,1,750,55° 11',981,15.0,1 IPT COKLAT
20,1,800,45° 00',800,13.0,1 IPT COKLAT
40,2,1250,55° 48',992,20.1,"1 IPT COKLAT, 1 IPT MERAH"
41,2,1300,52° 22',931,18.9,"1 IPT COKLAT, 1 IPT MERAH"
42,2,1350,45° 00',800,16.9,"1 IPT COKLAT, 1 IPT MERAH"
62,3,2500,53° 03',943,27.1,"1 IPT COKLAT, 1 IPT MERAH, 1 IPT PUTIH"
63,3,2600,46° 07',820,24.5,"1 IPT COKLAT, 1 IPT MERAH, 1 IPT PUTIH"
80,4,3500,54° 24',967,34.4,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH"
81,4,3600,51° 35',917,33.2,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH"
82,4,3700,46° 07',820,31.2,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH"
103,5,4400,54° 40',972,39.1,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 1 IPT ..."
104,5,4500,52° 42',937,38.8,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 1 IPT ..."
105,5,4600,49° 57',888,37.6,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 1 IPT ..."
106,5,4700,46° 07',820,35.8,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 1 IPT ..."
123,6,5100,55° 51',993,44.0,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 2 IPT ..."
124,6,5200,54° 27',968,43.6,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 2 IPT ..."
125,6,5300,52° 42',937,42.9,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 2 IPT ..."
126,6,5400,50° 31',898,42.2,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 2 IPT ..."
127,6,5500,47° 59',853,41.5,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 2 IPT ..."
128,6,5600,45° 00',800,40.5,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 2 IPT ..."
147,7,5700,55° 58',995,47.8,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 3 IPT ..."
148,7,5800,54° 40',972,47.4,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 3 IPT ..."
149,7,5900,53° 13',946,46.6,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 3 IPT ..."
150,7,6000,51° 28',915,46.2,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 3 IPT ..."
151,7,6100,49° 30',880,45.1,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 3 IPT ..."
152,7,6200,47° 25',843,44.1,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 3 IPT ..."
153,7,6300,45° 00',800,42.8,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 3 IPT ..."
170,8,6100,55° 07',980,47.4,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 4 IPT ..."
171,8,6200,53° 43',955,46.6,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 4 IPT ..."
172,8,6300,52° 09',927,45.7,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 4 IPT ..."
173,8,6400,50° 00',889,44.5,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 4 IPT ..."
174,8,6500,45° 00',800,41.1,"1 IPT COKLAT, 1 IPT MERAH, 2 IPT PUTIH, 4 IPT ..."

In [86]:
data[data['Waktu Lintas_det'] <= 20]

,Isian,Jarak_m,Sudut Elevasi_der,Sudut Elevasi_rad,Waktu Lintas_det,Tipe
0,0,100,83° 35',1486,13.5,IPP
1,0,150,80° 53',1426,13.4,IPP
2,0,200,76° 47',1365,13.2,IPP
3,0,250,73° 07',1300,13.0,IPP
4,0,300,69° 04',1228,12.7,IPP
5,0,350,64° 28',1146,12.2,IPP
6,0,400,58° 37',1042,11.6,IPP
7,0,450,45° 00',800,9.6,IPP
8,1,200,82° 45',1471,18.2,1 IPT COKLAT
9,1,250,80° 53',1438,18.1,1 IPT COKLAT
10,1,300,78° 58',1404,18.0,1 IPT COKLAT
11,1,350,77° 00',1369,17.8,1 IPT COKLAT
12,1,400,74° 59',1333,17.7,1 IPT COKLAT
13,1,450,72° 54',1296,17.5,1 IPT COKLAT
14,1,500,70° 39',1256,17.3,1 IPT COKLAT
15,1,550,68° 17',1214,17.0,1 IPT COKLAT
16,1,600,65° 42',1168,16.7,1 IPT COKLAT
17,1,650,62° 50',1117,16.3,1 IPT COKLAT
18,1,700,59° 27',1057,15.8,1 IPT COKLAT
19,1,750,55° 11',981,15.0,1 IPT COKLAT
20,1,800,45° 00',800,13.0,1 IPT COKLAT
41,2,1300,52° 22',931,18.9,"1 IPT COKLAT, 1 IPT MERAH"
42,2,1350,45° 00',800,16.9,"1 IPT COKLAT, 1 IPT MERAH"

In [87]:
data['Waktu Lintas_det'].mean()

36.92971428571431

In [88]:
data['Waktu Lintas_det'].max()

53.2

In [89]:
data['Waktu Lintas_det'].min()

9.6

In [101]:
import seaborn as sns